body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
body {
    background: radial-gradient(circle, white, rgba(95, 77, 255, 0.79)); /* Радиальный градиент */
    margin: 0;
    height: 100vh; /* или min-height: 100vh; */
    overflow: hidden; /* Скрывает полосы прокрутки, если они появляются */
}


.card-container {
    width: 800px;
    height: 500px;
    perspective: 1000px; /* Важно для 3D трансформации */
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* Важно для 3D трансформации */
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрывает заднюю сторону */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 35px;
}

.front {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.back {
    background: linear-gradient(135deg, #d4ddff 1%, rgb(76, 0, 255)40%, #d600fc 70%);
    transform: rotateY(180deg); /* Поворачиваем заднюю сторону изначально */
    animation: gogo 10s ease-in-out infinite;
    background-size: 400% 400%;
}
@keyframes gogo {
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 100%;}
    100%{background-position: 0% 50%;}
}

.back a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;
}
